nav{
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: center; 
    padding: 20px 0;
    position:fixed;
    top: 0;
}
nav .nav-item_left{
    font-weight: bold;
}
nav a{
    font-size: 18px;
    color: black;
    text-decoration: none;
    margin-left: 20px;
}
nav a:hover {
    color: red;
} 
nav a img{
    height: 18px;
}
.nav-item-group .nav-item{
    margin: 0 20px 20px 0;
}
.nav-item-group a:hover{
    border-bottom: 1px solid red;
}

/* box1 */

.box1{
    width: 100%;
    height: 530px;
    margin-top: 62px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-image: url(/pic/banner-home-aca80ad097b4d77ffa3b82879b5d14a8.jpg);
    background-size: cover;
}
.box1-group{
    margin: 112px 0 0 217px;
    color: #fff;
    /* background-color: #eee; */
}
.box1-group h1{
    font-size: 60px;
    display: inline-block;
    margin: 0 0 15px 0;
}
.box1-group p{
    font-size: 20px;
    margin: 0 0 67px 0;
}
.box1-group button{
    font-size: 18px;
    color: white;
    border: none;
    text-align: center;
    width: 136px;
    height: 52px;
    background-color:rgb(255,19,62);
    border-radius: 4px;
    cursor: pointer;
}
.box1-group button:hover{
    background-color:rgb(185, 17, 48);
}

/* Box2 */
.box2{
    /* background-color: #eee; */
    width: 100%;
    height: 600px;
    text-align: center;
}
.box2 h1{
    font-size: 30px;
    color: #394150;
    font-weight: bold;
    display: inline-block;
    padding: 0;
    margin: 80px auto 30px;
}
.box2 p{
    font-size: 20px;
    color: #394150;
    padding: 0;
    margin: 0;
}

.box2 .span{
    border-bottom: red 2px solid;
    padding-bottom: 10px;
}

.box2-item-group{
    /* background-color: rgb(156, 93, 93); */
    display: flex;
    width: 1200px;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: center;
    margin: 67px auto 0;
}

.box2-item{
    /* border: 1px red solid; */
    color: #394150;
}

.box2-item img{
    width: 200px;
}
.box2-item h3{
    font-size: 18px;
    font-weight: bold;
}
.box2-item p{
    font-size: 16px;
}

