nav{
    background-color: rgb(228, 163, 163);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: center; 
    padding: 20px 0;
    position:fixed;
    top: 0;
}
nav .nav-item_left{
    font-weight: bold;
}
nav a{
    font-size: 18px;
    color: black;
    text-decoration: none;
    margin-left: 20px;
}
nav a:hover {
    color: red;
} 
nav a img{
    height: 18px;
}
.nav-item-group .nav-item{
    margin: 0 20px 20px 0;
}
.nav-item-group a:hover{
    border-bottom: 1px solid red;
}
.box1{
    width: 100%;
    height: 500px;
    margin-top: 62px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.box1-group{
    margin: 112px 0 0 217px;
    color: #fff;
    /* background-color: #eee; */
}
.box1-group h1{
    font-size: 60px;
    display: inline-block;
    margin: 0 0 15px 0;
}
.box1-group p{
    font-size: 20px;
    margin: 0 0 67px 0;
}
.box1-group button{
    font-size: 18px;
}