nav{
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: center; 
    padding: 20px 0;
    position:fixed;
    top: 0;
    box-shadow: 0 0 6px 0 #ccc;
    z-index: 1;
}
nav .nav-item_left{
    font-weight: bold;
}
nav a{
    font-size: 18px;
    color: black;
    text-decoration: none;
    margin-left: 20px;
}
nav a:hover {
    color: red;
} 
nav a img{
    height: 18px;
}
.nav-item-group .nav-item{
    margin: 0 20px 20px 0;
}
.nav-item-group a:hover{
    border-bottom: 1px solid red;
}

/* header */

.header{
    background-blend-mode: multiply;
    background-color: rgba(24, 30, 45, 0.75);
    width: 100%;
    height: 530px;
    margin-top: 62px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-image: url(/pic/banner-home-aca80ad097b4d77ffa3b82879b5d14a8.jpg);
    background-size: cover;
/* 不懂 */
    background-repeat: no-repeat; /*背景圖不重複*/
    /* background-position: center top; */
    /* position: relative; */
    clip-path: polygon(0px 0px, 100% 0px, 100% 70%, 35% 100%, 0px 70%); /*描述頂點位置 */
}

.header-group{
    margin: 112px 0 0 450px;
    color: #fff;
    /* background-color: #eee; */
}
.header-group h1{
    font-size: 60px;
    display: inline-block;
    margin: 0 0 15px 0;
}
.header-group p{
    font-size: 20px;
    margin: 0 0 67px 0;
}
.header-group button{
    font-size: 18px;
    color: white;
    border: none;
    text-align: center;
    width: 136px;
    height: 52px;
    background-color:rgb(255,19,62);
    border-radius: 4px;
    cursor: pointer;
}
.header-group button:hover{
    background-color:rgb(185, 17, 48);
}

/* container */
.container{
    /* background-color: rgb(255, 0, 0); */
    width: 100%;
    height: 600px;
    text-align: center;
    /* clip-path: polygon(0px 30%, 100% 0px, 100% 78%, 30% 100%, 0px 85%) margin-box; */
}
.container h1{
    font-size: 30px;
    color: #394150;
    font-weight: bold;
    display: inline-block;
    padding: 0;
    margin: 80px auto 30px;
}
.container p{
    font-size: 20px;
    color: #394150;
    padding: 0;
    margin: 0;
}

.container .span{
    border-bottom: red 2px solid;
    padding-bottom: 10px;
}

.container-item-group{
    /* background-color: rgb(156, 93, 93); */
    display: flex;
    width: 1200px;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: center;
    margin: 67px auto 0;
}

.container-item{
    /* border: 1px red solid; */
    color: #394150;
}

.container-item img{
    width: 200px;
}
.container-item h3{
    font-size: 18px;
    font-weight: bold;
}
.container-item p{
    font-size: 16px;
}
/* teacher */
.teacher{
    width: 100%;
    background-color: #F9FAFB;
    padding-bottom: 30px;
}
.teacher section{
    width: 920px;
    color: #394150;
    padding: 50px;
    margin: auto ;
}
.teacher section h2{
    font-size: 30px;
    font-weight: bold;
}
.teacher section p{
    font-size: 20px;
}
.teacher .card{
    width: 789px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    /* flex-wrap: wrap; */
    /* border: 1px red solid; */
    border-radius: 5px;
    box-shadow: 3px 1px 6px 3px #ddd;
}
.card .card-img{
    width: 165px;
    height: 400px;
    padding: 32px 50px 32px 50px;
}
.card .card-img img{
    width: 165px;
    border-radius: 50%;
}
.card-other{
    margin-top: 60px;
}
.teacher button{
    font-size: 16px;
    margin-top: 5px;
    margin-right: 30px;
    color: rgb(255, 0, 0);
    border: red 1px solid;
    text-align: center;
    width: 186px;
    height: 34px;
    background-color:rgb(255, 255, 255);
    border-radius: 4px;
    cursor: pointer;
}
.teacher button:hover{
    background-color:rgb(255, 0, 0);
    color: white;
}
.course{
    width: 100%;
    background-color: #29303E;
}

.course-short{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 80px;
}
.course-short .section{
    color: #A0A6B1;
    font-size: 20px;
    width: 540px;
    margin-right: 30px;
}
.course-short h2{
    font-weight: bold;
    color: #fff;
    font-size: 30px;
}
.course-short .ppt{
    box-sizing: border-box;
    background-color: #FF133E;
    /* color: white; */
    width: 560px;
    height: 355px;
    margin-top: 40px;
    color: #fff;
    padding: 100px 20px;
    clip-path: polygon(0 20%, 70% 0, 100% 20%, 100% 80%,30% 100%,0 80%);
    z-index: 0;
}

.course-short h3{
    font-weight: bold;
    font-size: 24px;
}
.course-short .ppt p{
    font-size: 16px;
}
.course-short button{
    color: white;
    font-size: 16px;
    background-color: #FF133E;
    border-width: 0;
    cursor: pointer;
}
.course-short button:hover{
    border-bottom: 1px solid white;
}
.course-short button::after{
    content: " ＞";
}

/* course-recent */
.course-recent{
    background-color: #29303E;
    width: 1392px;
    margin: 0 auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.course-recent .item-group{
    align-items: center;
    width: 1392px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.course-recent h3{
    align-self:flex-start;
    color: #fff;
    font-size: 24px;
}
.item-group .item{
    width: 437px;
    background-color: #fff;
    border-radius: 2%;

}
.item img{
    width: 100%;
    border-radius: 2% 2% 0 0;
}
.item .item-classdate{
    box-sizing: border-box;
    width: 397px;
    margin: 0 auto;
    color: #6C727F;
    font-size: 12px;
    display: flex;
    border-bottom: solid 1px #cecdcd;
}
.item h4{
    color: #A0A6B1;
    font-weight: 400;
}
.item h5{
    border: #cecdcd 1px solid;
    padding: 5px;
    margin-right: 10px;
    border-radius: 8%;
    font-weight: 400;
}
.item h6{
 color: #34D399;
 font-size: 14px;
 font-weight: 400;
}
.item .item-classinf{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    margin: 0 20px;
    padding: 10px 0 20px 0;
}

.course-recent button{
    font-size: 18px;
    color: white;
    border: none;
    text-align: center;
    width: 136px;
    height: 52px;
    background-color:rgb(255,19,62);
    border-radius: 4px;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 120px;
}
.course-recent button:hover{
    background-color:rgb(185, 17, 48);
}
/* learnmap */
.learnmap{
    background-color: rgb(249,250,251);
    width: 100%;
    box-sizing: border-box;
    padding: 100px 0 50px 0;   
}
.learnmap .learnmap-box{
    width: 1400px;
    margin: 0 auto;
}
.learnmap-box .content{
    color: #394150;
    width: 920px;
    margin-bottom: 50px;
}
.learnmap-box .content h2{
    font-size: 30px;
}
.learnmap-box .content p{
    font-size: 20px;
}
.learnmap-box-itemgroup{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.learnmap-box-itemgroup .item{
    width: 437px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 2%;
    color: #394150;
    box-shadow: 3px 3px 6px 3px #eee;
}
.learnmap-box-itemgroup .item-content{
    padding: 20px;
}
.item h3{
    font-size: 20px;
}
.item p{
    font-size: 16px;
}
.item button{
    color: #FF133E;
    background-color: #fff;
    font-size: 16px;
    border-width: 0;
    cursor: pointer;
    margin: 0 0 20px 15px;
}
.item button:hover{
    border-bottom: 1px solid #FF133E;
}
.item button::after{
    content: " ＞";
}
/* student */
.student{
    padding: 50px 0 100px 0;
}
.student h2{
    text-align: center;
    font-size: 30px;
    color: #394150;
    margin-bottom: 60px;
}
.student-itemgroup{
    display: flex;
    width: 1468px;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
}
.student-item{
    box-sizing: border-box;
    box-shadow:3px 3px 6px 3px #eee;
    border-radius: 2%;
    width: 342px;
    padding: 25px;
    align-self: start;
    
}
.student-item p{
    margin: 0;
    padding: 0;
    color: #394150;
    font-size: 16px;
    line-height: 1.5em;
}
.student-id{
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    align-items: center;
    color: #394150;
}
.student-id img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
footer{
    box-sizing: border-box;
    background-color: #29303E;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 50px 250px 150px;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    text-decoration: none;
    color: #FF133E;
}
footer li{
    list-style-type: none;
    margin-top: 15px;
    font-size: 14px;
}
.footer-left{
    margin-top: 50px;
}
.footer-right{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
}
.footer-right .link-item{
    margin: 50px 80px;
}

/* copyright */
.copyright{
    background-color: #181E2D;
    width: 100%;
    font-size: 0.875rem;
    color: #A0A6B1;
    font-weight: bold;
    text-align: center;
    line-height: 1.25rem;
    padding: 20px;
    box-sizing: border-box;
}